@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-green-200: hsl(148, 38%, 91%);
    --color-green-600: hsl(169, 82%, 27%);
    --color-red-100: hsl(0, 66%, 54%);
    --color-gray-500: hsl(186, 15%, 59%);
    --color-gray-900: hsl(187, 24%, 22%);

    --font-karla: "Karla", sans-serif;

    --animate-appear: appear 4s ease-in;
}

.input-style {
    @apply outline-0 border border-gray-500 rounded-md p-2 hover:cursor-pointer hover:border-green-600 outline-0 border border-gray-500 rounded-md p-2 hover:cursor-pointer hover:border-green-600 outline-0 border border-gray-500 rounded-md p-2 hover:cursor-pointer hover:border-green-600 outline-0 border border-gray-500 rounded-md p-2 hover:cursor-pointer hover:border-green-600 outline-0 border border-gray-500 rounded-md p-2 hover:cursor-pointer hover:border-green-600 outline-0 border border-gray-500 rounded-md p-2 hover:cursor-pointer hover:border-green-600
}

@keyframes appear{
    0% {
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        
    }
}